[defaults]
inventory          = inventory/hosts.yml
remote_user        = automation
# private_key_file = ~/.ssh/id_ed25519  # set this or use ssh-agent / ~/.ssh/config
host_key_checking  = False
forks              = 10
gather_facts       = yes
interpreter_python = /usr/bin/python3
deprecation_warnings = False

[privilege_escalation]
become          = yes
become_method   = sudo
become_ask_pass = no
